<h2>Funding wallets</h2>
{{#each model.fundingWallets as |wallet|}}
  <p></p>{{wallet.currency}}: {{wallet.amount}}
{{/each}}
<hr>
<h2>Free for funding</h2>
{{#each model.fundingWallets as |wallet|}}
  <p></p>{{wallet.currency}}: {{wallet.amountFree}}
{{/each}}
<hr>
<h2>Open offers:</h2>
{{#each model.fundingWallets as |wallet|}}
  <p></p>{{wallet.currency}}: {{wallet.openOrders}}
{{/each}}
