<h2>Funding wallets</h2>
{{#each model.fundingWallets as |wallet|}}
  <p>{{wallet.currency}}: {{wallet.amount}}</p>
{{/each}}
<hr>
<h2>Free for funding</h2>
{{#each model.fundingWallets as |wallet|}}
  <p>{{wallet.currency}}: {{wallet.amountFree}}</p>
{{/each}}
<hr>
<h2>Open offers:</h2>
{{#each model.fundingWallets as |wallet|}}
  <p>{{wallet.currency}}: {{wallet.openOrders}}</p>
{{/each}}
<hr>
<h2>Funded average rates:</h2>
{{#each model.fundedCurrencies as |f|}}
  <p>{{f}}</p>
{{/each}}
<hr>
<h2>Current average rates:</h2>
{{#each model.currencyRates as |cr|}}
  <p>{{cr.currency}}: {{cr.rate}}% (Last: {{cr.last}}% ; Ask: {{cr.ask}}%)</p>
{{/each}}
